/*
 * resize bars
 */
 .ui-resizable-e,  .ui-resizable-w {
	background: url(../image/resizable_row.png) repeat-y top right;
 	width: 12px;
 	right:0px;
 	cursor: auto;
 	/* z-index:400 !important; */
 }
	
 .ui-resizable-e:after, .ui-resizable-w:after { /* :hover:after */
 	content: url(../image/resizable.png);
 	cursor: pointer; /* e-resize; */
 	right: 0px;
 	position:absolute;
 
 	/*
 	-webkit-box-shadow: 5px 0px 5px 0px rgba(255,255,255,1);
	-moz-box-shadow: 5px 0px 5px 0px rgba(255,255,255,1);
	box-shadow: -1px 0px 10px 0px #f7f7f7;
	*/
 }

/*
 .ui-resizable-e {
	transform: scaleX(-1);
 }
 */


/* 
 * title bars
 */
.title {
  height:27px;
  line-height:27px;
  font-weight: bold;
  color: #555;
  font-size: 13px;
  padding-left:10px;
  /* border-bottom: 1px solid #ccc; */
  background: #f7f7f7;
  background: -webkit-linear-gradient(#f1f1f1, #f7f7f7 80%);
  background: -moz-linear-gradient(#f1f1f1, #f7f7f7 80%);
  background: -o-linear-gradient(#f1f1f1, #f7f7f7 80%);
  background: -ms-linear-gradient(#f1f1f1, #f7f7f7 80%);
  background: linear-gradient(#f1f1f1, #f7f7f7 80%);
  display:none;
}

#myswatchbox { 
	top: 27px; 
}

#users_title {
	padding-left:4px;
}

 

/**
 *  chatbox
 */
#chattext {
    overflow-y: auto;
}

#chatWrapper {
	position: fixed;
	top: 38px;
	bottom: 0;
	right: 0 !important;
	width: 186px; /* init */
	background: #f7f7f7;
	z-index: 2;
}

#chatWrapper #users {
	top: 0!important;
	width: calc(100% - 17px) !important;
	padding-top: 0px;
	padding-bottom:10px;
}

#chatWrapper #chatbox.stickyChat {
	top: 1px!important;
	width: calc(100% - 17px) !important;
}

#chatWrapper #chatbox.stickyChat:not(.chatAndUsersChat) {
	width: calc(100% - 13px) !important;
}

#chatWrapper #users:not(.chatAndUsers) {
	width: 158px !important;
	right: 5px;
}


/*
 *support for ep_page_view
 */ 
#editorcontainer > iframe {
	height: -moz-calc(100% - 28px);
    height: -webkit-calc(100% - 28px); 
    height: calc(100% - 28px);
}

@media (min-width: 921px) {
	#editorcontainer .page_view {
    	padding-top: 28px !important;
	}
}

#editorcontainer {
   	overflow: hidden;
}


/*
 * support for ep_table_of_contents
 */
#toc {
	padding: 0 !important;
	overflow-y: hidden !important;
}

#tocItems {
	margin-right:10px;
	padding: 8px 5px 0 10px;
	overflow-y: auto;
	height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px); 
    height: calc(100% - 73px);
    width:auto;
    background-color: #ffffff;
    overflow-x: hidden;
}

.tocItem { width: 100% !important; }
.tocItem.toch2 { width: calc(100% - 10px) !important; }
.tocItem.toch3 { width: calc(100% - 20px) !important; }
.tocItem.toch4 { width: calc(100% - 30px) !important; }
.tocItem.toch5 { width: calc(100% - 40px) !important; }
.tocItem.toch6 { width: calc(100% - 50px) !important; }

#toc_refresh {
	width: 27px;
	height: 27px;
	background: url(../image/refresh.png) no-repeat 50% 50%;
	right: 35px;
	opacity:0.2;
	position:absolute;
	display:none;
}

#myusernameedit, #otherusers {
	overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: calc( 100% - 10px );
}
